<div class="withdrawals-create-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>回答を受け付けました</h2>
        <%= link_to 'トップへ戻る', root_path %>
      </div>
    </div>
  </div>
</div>
