// バリデーションエラーが起きた際に表示されるメッセージ
#error_explanation {
  display: none;
}
// バリデーションエラーが起きた際の表示の挙動を変更したもの
.field_with_errors {
  display: inline-block !important;
  padding: 0 !important;
  background-color: #ffffff !important;
  label {
    color: #ff0000;
    background-color: #ffffff;
  }
  input {
    border-color: #ff0000;
  }
  textarea {
    border-color: #ff0000;
  }
}

.section-interval {
  padding-top: 20px;
  padding-bottom: 20px;
}

.btn-application-function {
  margin-top: 20px;
  color: #ffffff !important;
}

// googleマップ
.access-map-wrapper {
  position: relative;
  background-color: #ffffff;
  .access-map {
    height: 450px;
    margin-top: 50px;
    margin-bottom: 50px;
  }
}
