// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#error_explanation {
  display: none;
}

.field_with_errors {
  display: inline !important;
  padding: 0 !important;
  color: red !important;
  background-color: white !important;
}
